<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Page</title>
    <link rel="icon" href="data:;base64,=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/platform/FrontendPlatform/page.css" rel="stylesheet">
  </head>
  <body>
    <header>
    <% if (ctx.user) {%>
        <h3><%- ctx.user %></h3>
    <% } else { %>
        <a href="/login?redirectUrl=<%= ctx.request.path %>">Войти</a>
    <%} %>
    </header>
    <main id="app"><%- html %></main>
    <script src="/static/team-red/ProductFront/client.js" async></script>
    <script src="/static/team-green/InspireFront/client.js" async></script>
    <script><%- script %></script>
  </body>
</html>